.pib-button-wrapper {
  position: relative;
  display: inline-block;
}

.pib-remove-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  opacity: 0;
  pointer-events: none;
  padding: 1px;
  border-radius: 4px;
  background: red;
  width: 1.25rem !important;
  height: 1.25rem !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: opacity 0.2s ease-in-out;
}
.pib-remove-btn {
  position: absolute;
  z-index: 50;
  top: -8px;
  right: -8px;
  opacity: 0;
  pointer-events: none;
  padding: 1px;
  border-radius: 4px;
  background: var(--wp-components-color-accent);
  width: fit-content !important;
  height: 1.25rem !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
}

.pib-remove-btn:hover {
  background: var(--wp-components-color-accent-darker-10);
}

.pib-remove-btn:active {
  background: var(--wp-components-color-accent-darker-20);
}

.pib-remove-btn svg {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.pib-button-wrapper:hover .pib-remove-btn,
.pib-button-wrapper:focus-within .pib-remove-btn {
  opacity: 1;
  pointer-events: auto;
}

/* Forcer le z-index de la modale d'icônes au-dessus des popovers */
.sif-icon-picker-overlay {
  z-index: 1000001 !important;
}

.sif-icon-picker-modal {
  z-index: 1000002 !important;
  max-width: 800px;
  min-width: 400px;
}
